/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/*****Naviguation****/

.naviguation {
   padding-top: 19px;
    margin: 35px;
    padding-bottom: 60px;
}
.navbar{
    width: auto;
}
.header {
    
    width: 1440px;
    height: 79px;
    padding-bottom: 10px;

}
.header-content img {
    width: 69.09px;
    height: 19px;
}


.naviguation a {
    margin: 0 15px;
    padding-bottom: 10px;
    padding-top: 16px;
    margin-left: 50px;
    align-items: center;
    box-sizing: border-box;
    border-top: 2px solid transparent;          
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;   
}
nav.naviguation a:hover {   
    border-top: solid 2px var(--main-color);               
    color: var(--main-color);
    
}
.Acceuil-title{
    margin-top: 55px;
}
.Acceuil-title h2{
    margin-bottom: 0px;
    
}
.Acceuil-title p {
    margin-top: 5px;
}
    
/********Formulaire de recharche******/
.search{
    display: flex;
    width:  377px;
    height: 49px;
    text-decoration: none;
    outline-color: #F2F2F2;      
}
.search-container{
    display: flex;
    margin: 20px 0px;
       
}
.fa-map-marker-alt {
    display: flex;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px; 
    align-items: center;
    width: 50px;
    justify-content: center;
    border: none;    
}
.bouton  {
    background-color: #0065FC;
    color: white;
    border-radius: 0px 15px 15px 0px;
    border: none;
    padding: 0px 15px;    
}
.bouton span {
    font-size: 15px;
    font-weight: bold;
}
.bouton i {
    display: none;

}
input[type="text"] {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    padding:10px 10px;
               
}
::placeholder{
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    color: #000;   
}
.Filtres{
    display: flex;
    flex-wrap: nowrap;

}

.Filters{
    flex-wrap: wrap;
    display: flex;
    border-radius: 25px;
     
}
.Filtres h3{
    padding-right: 20px;
    flex-wrap: nowrap ;
}
.boutton a span {
    padding: 2px;
    padding-right: 15px;
    align-items: center;
}   
 .boutton {
    display: flex;

} 
.boutton a{
    display: flex;
    align-items: center;
    border: 2px solid #D9D9D9;
    margin: 10px;
    border-radius: 25px;
    font-weight: bold;
    padding: 0px 10px;
   

}

      
.boutton a:hover{
    background-color:#DEEBFF ;
    border-radius: 25px;
}
.boutton i {
    color: #0065FC;
    padding: 10px;
    font-size: 20px;
    

}

.info{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.info i {
    border: 1px solid #D9D9D9;
    border-radius: 70px;
    align-items: center;
    text-align: center;
    width: 20px;
    height: 20px;
    justify-content: center;
    margin: 15px;
    color: #0065FC;
    font-size:4mm;
    
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin: 10px 0px 10px 0px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 614px;  
}
.hebergements h3 {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
      
}
.hebergement-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    padding-top: 30px;
}
  
.hebergement-card img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;   
 }
 .hebergement-card .card-txt{    
    margin: 0px;
    font-size: 13px;
       
 }

 .hebergement-card .card {
    display: flex;
    flex-direction: column;
    margin-bottom:  5px;
     margin-top: 0px;
    width: 14.5vw; 
    height: 207px;
    max-width: 250px;   

}
.hebergement-card .card-content {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    text-overflow: ellipsis; 
    height: 6.3vw;  
}

.hebergements-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

.hebergement-card .card-title { 
    margin-top: 2px;
    margin-bottom: 4px;
    position: absolute; 
    width: 80%;
    padding-top: 5px; 
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;        
}
.hebergement-card .card-subtitle{
    margin-top: 30px;
    margin-bottom: 5px;
    padding-left:10px ;
    
}


.hebergement-container .card-rating {
    margin-bottom: 10px;
    padding-left: 10px;
}
.plus-tittle { 
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    height: 614px;
}

.populaires h2{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    
}
.fa-chart-line {
    width: 18px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;       
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
    /******Activite******/
  

 #Activités .ActiviteContent{
    display: flex;
    justify-content: center;
        
 }
 #Activités a {
    
    margin: 10px;
 }
#Activités img {
    width: 100%;
    height: 25vw ;
    border-radius: 20px 20px 0px 0px;
    justify-content: center; 
    align-items: center;    
}
#Activités .card{
    padding: 0px;
    margin: 10px;
    width: 18VW;
    margin: 10px; 
    max-width: 297px;   
}


#Activités .card-title {
    text-align: left;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 20px;
    
}
#Activités .section-title{
    margin: 40px 0px 15px 65px; 

     
}

/******Footer*****/

.footer-contain{
    display: flex;
    text-align:left;
    background-color: #f2f2f2;
    margin-top: 60px;
    
        
}
.footer-contain ul {
    list-style: none;
    padding: 0px;
    height: 19px;
}
.propos {    
    width: 446px;
    height: 163px;
    padding: 20px;
    gap: 15px   ;
    line-height: 30px;   
}   


  


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
   .Acceuil-title{
    padding-bottom: 10px;
   }
   .Filtres{
    display: flex;
    
    flex-direction: column;
   }
    .card {
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
       
    }
    .hebergements-and-populaires {
        flex-direction: column;       
    }
    .hebergements {
        width: 100%;
    }
    .hebergement-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
    
    .hebergements .card{
        height: 207px;
        width: 25vw;
    }
    
    .filters-title{
        flex-wrap: wrap;
        padding-right: 775px; 
    }
    
    .hebergements .card-subtitle{
        padding-left: 10px;
        padding-top: 10px;
        margin-bottom: 5px;
    }
    .hebergements .card-content{
        padding-bottom: 0px;
    }
    .hebergements .card-rating{
        padding-left: 10px;
    }
    .populaires {
        align-items: center;
        max-width: 924px;
        width: 100%;
        height: auto;
    }
    .populaires a{
        display: flex;
        width: 100%;
        padding: 10px;
    }
    .populaires-cards .card{
        display: flex;
        width: 106%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;    
    }
    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    
    #Activités  {   
        display: flex;
         flex-wrap: wrap;
        width: 100%;
       
    }
    .ActiviteContent{
        display: flex;
    }
    .ActiviteContent .card {
        height: 29vw;      
    }

    #Activités a{
        box-sizing: border-box;
        width: 20vw;
        height: 27.5vw;
        margin: 10px;
    }

    #Activités img {
        height: 20.5vw;
    }
    
         
    
    #Activités .section-title  {
        display: flex;
        width: 873px;
        height: 30px;   
        padding: 5px 0px 10px 0px; 
        margin: 0px;     
    }
   
    #Activités .card-title {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        
    }       
    .footer-contain{
    margin-top: 100px;
    
}
    
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .section-title{
        padding-left: 10px;   
     }
    
      nav.naviguation a:hover{
        border-top: none;
        border-bottom: solid 2px var(--main-color);               
        color: var(--main-color);
                
    }
     .naviguation a { 
        text-align:center ;
        align-items: center;
        width: 50%;
        margin: 0px;
        padding-bottom: 10px; 
        border-bottom: 2px solid #dad3d3;
    }
    .naviguation{
        display: flex;
        width: 100%;
        padding-bottom: 0px;
    }
    .Acceuil h2{
        padding-top: 30px;
        padding-left: 10px;
    }  
    .Acceuil p {
        padding-left:10px ;
        padding-bottom: 15px;
        padding-top: 0px;
    } 
   .search-container{
        display: flex;
        width: 100%;
        padding-left: 10px;
        height: 50px;
    }
    .search{   
        width: 100%;
    }
    .input[type="text"]  .search{
        display: flex  ;
        width:100%;
        box-sizing: border-box;      
    }
    input[type="text"]{
        display: flex;
        
        width: 100%;     
    }
    .fa-map-marker-alt{
        width:4.5em;
    }
    
    ::placeholder{
        width: 100%;
        
    } 
    .bouton{
        display: flex;
        width: 50px;
        border-radius: 15px;
        align-items: center;
        padding-left: 10px;
        transform: translateX(-10px);

    }     
    .bouton h3{
        display: none;
    }
    .bouton i {
        display:inline ;
        padding: 10px;
    }
    .hebergements-and-populaires section {
        border-radius: 0px;
        width: 100%;
        background-color: #f2f2f2;
        padding: 0px;   
    }
    
     .header-content{
        width: 100%;
        flex-direction: column;

    }
    .boutton i {
        font-size: 19px;
    }
    .boutton a {
        margin: 4px;
        padding: 3px;
        justify-content: center;
    }
    .boutton span{
        text-align: center;
        align-items: center;
    }
   
    .boutton {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;                                
    }
    .Filtres h3{      
        padding-left: 15px;       
    }
    
    .info{
        padding: 10px 0px;
    }
    .info i {
        font-size: 0.75em;
        padding:2px;
        height: 15px;
    }
    
    .hebergements-and-populaires {
        flex-direction: column-reverse;
                
    }
    .hebergements-and-populaires .populaires{
        padding-left: 0px;
        margin: 0px;
        width: 105%;
    }
    .plus h3{
        margin-top: 0px;
        padding-bottom: 35px;
    }
    .populaires a {
        padding: 0px 0px 0px 5px;
        width: 94vw;
    }
    .populaires-title{
        padding: 10px ;
    }
    .populaires h2{
        padding: 10px 15px;
        justify-content: space-between;
        width: 90%;
    }
    
    .populaires-cards{
        flex-direction: column;    
        width: 100%;
        margin:0px; 
        padding: 0px 5px;
                                  
    }
    .populaires-cards .card{
        width: 86vw;
        margin: 10px;
    }
    .populaires-cards {
        width: 97vw;
    }
    .hebergements .card{
        width: 87vw;
        margin: 10px;
        max-width: none;
    }
    .hebergement-container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0px;
        padding-top: 0px;
        padding-left: 10px;
        
    }
    
    .hebergements-and-populaires .hebergements{
        padding-top: 20px;
        height: auto;
        padding-left: 5px;
        margin-bottom: 60px;
    }  
    .hebergement-card {
        display: flex;
        height: 207px;
        padding: 20px 0px; 
    }
    .hebergements-title{
        padding-right: 20px
    }
    
    .hebergements-and-populaires .hebergements{
        background-color:white;
        padding-top: 15px;
        margin-bottom: 0px;
        
    }
    .main-container{
        padding: 0px;
    }
    .plus-tittle{
        padding-left: 15px;
        padding-bottom: 11px;
    }
   
    #Activités{
        display: flex;
        align-items: center;
        padding-bottom: 25px;
    }
    #Activités .card{
        width: 84vw;
        height: 200px;
        max-width: none;
       
        
    }
    .ActiviteContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 5px;

    }  
    #Activités a {
        width: 84vw;
        height: 200px;
    }
    #Activités .section-title{
        padding-left: 15px;
    }
    
    
    
    #Activités .card-title{
        width: 100%;
    }
    #Activités .card-container{
       height: 54vw;
    }  
   
    #Activités img { 
        width: 84vw;
        height: 141px;
        
    }
    .footer {
        width: 375px;
    }
    
    
    .footer-contain {
        flex-direction: column;
        margin-top: 50px;
        margin-left:10px ;
        width: 100%;
        
    }
    .footer-contain li{
        width: 70%;
    }
    .footer-contain .propos{
        width: 75%;
    }
    
}

    


    