/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/*****Naviguation****/

.naviguation {
   display: flex;
    margin: 0;
    padding-bottom: 60px;
}
.header {
    
    width: 1440px;
    height: 79px;
    padding-bottom: 10px;

}
.header-content img {
    width: 69.09px;
    height: 19px;
}


.naviguation a {
    margin: 0 15px;
    padding-bottom: 10px;
    padding-top: 5px;
    
    
     
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;   
}
nav.naviguation a:hover {   
    border-top: solid 2px var(--main-color);               
    color: var(--main-color);
    
}
    
/********Formulaire de recharche******/
.search{
    display: flex;
    width:  377px;
    height: 49px;
    text-decoration: none;
    outline-color: #F2F2F2;      
}
.search-container{
    display: flex;
    margin: 20px 0px;
       
}
.fa-map-marker-alt {
    display: flex;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px; 
    align-items: center;
    width: 50px;
    justify-content: center;
    border: none;    
}
.bouton {
    background-color: #0065FC;
    color: white;
    border-radius: 0px 15px 15px 0px;
    size: 18px;
    font-style: 700 ;
    border: none;
    padding: 0px 15px;
    
}
.bouton i {
    display: none;

}
input[type="text"] {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    padding-left: 20px;
               
}
::placeholder{
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    color: #000;
    
}
.Filters{
    display: flex;
    align-items: center;   
    flex-direction: row;
}
.Filters a {
    padding: 10px  16px;
    border: 2px solid #D9D9D9;
    margin: 5px;
    border-radius: 25px;
    font-weight: bold;
        
}
.Filtres   :hover:not(i){
    background-color:#DEEBFF ;
}
.Filters i {
    color: #0065FC;
    padding: 10px;

}

.info{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.info i {
    border: 1px solid #D9D9D9;
    border-radius: 70px;
    align-items: center;
    text-align: center;
    width: 20px;
    height: 20px;
    justify-content: center;
    margin: 15px;
    color: #0065FC;
    font-size:4mm;
    
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin: 10px 0px 10px 0px;
}

/****** Hebergements ***********/
.hebergements {
    width: 67%;
    display: flex;
    flex-wrap: wrap;
    
}  
.container {
    margin: 0px;
    box-sizing: border-box;
    width: 240px;
    height: 207px;
    text-overflow: ellipsis;
}
.hebergement-card img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
      
 }
 .hebergement-card .card-txt{
    
    margin: 0px;
    font-size: 13px;
    
 }
 .hebergement-card {
    display: flex;
    margin-top: 33px;
    flex-direction: row;
    text-overflow: ellipsis;
 }
 .hebergement-card .card {
    display: flex;
    margin-top: 33px;
    flex-direction: column;
    margin: 10px;
}
.hebergement-card .card-content {
    display: grid;
    flex-direction: column;
    padding: 0px 0px 15px 0px;
    
    
}
.hebergements-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 811px;
    height: 26px;

}
.hebergement-card .card-title { 
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 4px;
    
}
.hebergement-card .card-subtitle{
    margin-top: 10px;
    margin-bottom: 4px;
}


.hebergement-cards .card-rating {
    margin-bottom: 5px;
}




/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
    /******Activite******/
  
.Activités {
    display: flex;   
 }
.activite-card img {
    width: 297.5px;
    height: 380px ;
    border-radius: 20px 20px 0px 0px;
    justify-content: center; 
    align-items: center;  
}
.Activités .card{
    padding: 0px;
    margin: 20px;
}
.Activités .card-title {
    text-align: left;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 20px;
}
/******Footer*****/
.footer-contain{
    display: flex;
    text-align:left;
    background-color: #f2f2f2;
    
        
}
.footer-contain ul {
    list-style: none;
    padding: 0px;
    height: 19px;
}
.propos {    
    width: 446px;
    height: 163px;
    padding: 20px;
    gap: 15px   ;
    line-height: 30px;   
}   


  


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;       
    }

    .hebergements {
        width: 100%;
   
        
    }

    .populaires {
        width: 100%;
        margin-top: 50px;    
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .Activités{
        width: 924px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .search-container{
        display: flex;
         width: 100%;
        max-width: none;
        padding: 0px;
        vertical-align: center;
        margin: 0%;
    }
    .input[type="text"] , .search{
        width: calc(100% - 10px);
       box-sizing: border-box;
       max-width: none;  
    }      
    .bouton h3{
        display: none;
    }
    .bouton i {
        display:inline ;
        padding: 10px;
    }
    .hebergements-and-populaires section {
        border-radius: 0px;
        width: 100%;
        background-color: #f2f2f2;
        
    }
     .header-content{
        width: 100%;
        flex-direction: column;

    }
    .Filters{
        display: inline-block;
        flex-wrap: wrap;
        
        
        
    }
    .Filters a {
        padding: 4px 15px 4px 19px; 
        text-align: center;
                                           
    }
    
    .hebergements-and-populaires {
        flex-direction: column-reverse;
                
    }
    .populaires{
        width: 100%;
        border-radius: 0px;
        padding: 0%;
        margin: 0%;
                          
    }
    
    .populaires-cards{
        flex-direction: column;    
        width: 110%; 
                                 
    }
    
    .card{
        width: 300%;
       
        
    }
    
    .hebergement-card , .container {
        width: 100%;
        flex-direction: column;
        
    }
    .hebergements-and-populaires .hebergements{
        background-color:white;
        
    }
    .main-container{
        padding: 0;
    }
    .Activités{
        flex-direction: column;
        width: 100%;
    }
    .activite-card img{
        height: 200px;
        width: 315px;
    }
    .Activités .card {
        width: 315px;
    }
    .footer-contain {
        flex-direction: column;
    }
    
}

    


    
