/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/*****Naviguation****/

.naviguation {
   display: flex;
    margin: 0;
    padding-bottom: 60px;
}
.navbar{
    width: auto;
}
.header {
    
    width: 1440px;
    height: 79px;
    padding-bottom: 10px;

}
.header-content img {
    width: 69.09px;
    height: 19px;
}


.naviguation a {
    margin: 0 15px;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-left: 50px;
    align-items: center;
    box-sizing: border-box;
    border-top: 2px solid transparent;
    transition: border-bottom 0.3s ease;
    
    
    
     
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;   
}
nav.naviguation a:hover {   
    border-top: solid 2px var(--main-color);               
    color: var(--main-color);
    
}
.Acceuil-title{
    margin-top: 55px;
}
.Acceuil-title h2{
    margin-bottom: 0px;
    
}
.Acceuil-title p {
    margin-top: 5px;
}
    
/********Formulaire de recharche******/
.search{
    display: flex;
    width:  377px;
    height: 49px;
    text-decoration: none;
    outline-color: #F2F2F2;      
}
.search-container{
    display: flex;
    margin: 20px 0px;
       
}
.fa-map-marker-alt {
    display: flex;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px; 
    align-items: center;
    width: 50px;
    justify-content: center;
    border: none;    
}
.bouton {
    background-color: #0065FC;
    color: white;
    border-radius: 0px 15px 15px 0px;
    size: 18px;
    font-style: 700 ;
    border: none;
    padding: 0px 15px;
    
}
.bouton i {
    display: none;

}
input[type="text"] {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    padding:10px 10px;
               
}
::placeholder{
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    color: #000;
    padding: auto;
    
}

.Filters{
    flex-wrap: wrap;
    display: flex;
    border-radius: 25px;
     
}
.Filters h3{
    margin-right: 20px;
}
.boutton span {
    padding: 2px;
    padding-right: 15px;
    align-items: center;
    

}
.boutton{
    display: flex;
    align-items: center;
    border: 2px solid #D9D9D9;
    margin: 10px;
    border-radius: 25px;
    font-weight: bold;
    max-width: 170px;
    min-width: 130px;
    max-height: 50px;

}

      
.Filters   :hover:not(i,h3){
    background-color:#DEEBFF ;
    border-radius: 25px;
}
.Filters i {
    color: #0065FC;
    padding: 10px;
    

}

.info{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.info i {
    border: 1px solid #D9D9D9;
    border-radius: 70px;
    align-items: center;
    text-align: center;
    width: 20px;
    height: 20px;
    justify-content: center;
    margin: 15px;
    color: #0065FC;
    font-size:4mm;
    
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin: 10px 0px 10px 0px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
}
.hebergements h3{
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 10px;  
}
  
.hebergement-card img {
    width: 100%;
    max-height: 100px;
    border-radius: 20px 20px 0px 0px;   
 }
 .hebergement-card .card-txt{    
    margin: 0px;
    font-size: 13px;   
 }
 .hebergement-card { 
    max-height: 207px;
    max-width: 250px;
    width: 30%;
    height: 207px;
    
    flex-basis: calc(33.333% - 20px);   
 }
 .hebergements a { 
    width: 100%;
    max-width: 250px;
 }
 .hebergements article {
    max-width: 240px;
    width: 100%;
    
 }

 .hebergement-card .card {
    display: flex;
    margin-top: 0px;
    flex-direction: column;
    margin-bottom:  5px;    

}
.hebergement-card .card-content {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 15px 0px;
    text-overflow: ellipsis;   
}
.hebergements-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 811px;
    height: 26px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hebergement-card .card-title { 
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 4px;
    position: absolute;
    text-overflow: ellipsis; 
    white-space:nowrap; 
    overflow: hidden;
    width: 80%;
    padding-top: 5px;    
}
.hebergement-card .card-subtitle{
    margin-top: 36px;
    margin-bottom: 4%;
    
}


.hebergement-cards .card-rating {
    margin-bottom: 5px;
}
.plus {
    text-align: center;  
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.plus h3{
text-align: left;
padding-left: 10px;
font-weight: 700;
font: size 18px; 
margin-bottom: 0px;
    
}




/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
    /******Activite******/
  
#Activités {
    display: flex;
    flex-wrap: wrap;           
 }
 #Activités .card-container{
    display: flex;
    justify-content: center;      
 }
 #Activités a {
    max-width: 297px;
    margin: 15px;
 }
#Activités img {
    max-width: 297px;
    width: 110%;
    height: 380px ;
    border-radius: 20px 20px 0px 0px;
    justify-content: center; 
    align-items: center;    
}
#Activités .card{
    padding: 0px;
    margin: 10px;
    width: 100%; 
    margin: 10px;    
}


#Activités .card-title {
    width: 20vw;
    text-align: left;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#Activités .section-title{
    margin: 20px 0px; 
    height: 30px; 
    padding-right: 80%;
     
}

/******Footer*****/

.footer-contain{
    display: flex;
    text-align:left;
    background-color: #f2f2f2;
    margin-top: 60px;
    
        
}
.footer-contain ul {
    list-style: none;
    padding: 0px;
    height: 19px;
}
.propos {    
    width: 446px;
    height: 163px;
    padding: 20px;
    gap: 15px   ;
    line-height: 30px;   
}   


  


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
   .Acceuil-title{
    padding-bottom: 10px;
   }
    .card {
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
       
    }
    .hebergements-and-populaires {
        flex-direction: column;       
    }
    .hebergements {
        min-height: 611px;
        width: 104%;
        height: 100%;   
    }
    .hebergements .card{
        max-width: 268px;
        width: 103%;
    }
    
   
    .hebergements .card-subtitle{
        padding-left: 10px;
        padding-top: 10px;
        margin-bottom: 5px;
    }
    .hebergements .card-content{
        padding-bottom: 0px;
    }
    .hebergements .card-rating{
        padding-left: 10px;
    }
    .Filters h3{
        height: 21px;
        width: 100%;
        margin-right: 700px;
    }
    .populaires {
        align-items: center;
        max-width: 924px;
        width: 106%;
    }
    .populaires a{
        display: flex;
        min-width: 274px;
        padding: 10px;
    }
    .populaires-cards .card{
        max-width: 274px;
        width: 106%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;    
    }
    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    
    #Activités  {   
        display: flex;
        padding-left: 15px;
        height: 21%;
        flex-wrap: wrap;
        width: 100%;
                
    }
    
    #Activités .card{
        display: flex;
        max-height: 200px;
        height: 100%;
        max-width: 194px;
        width: 100%;
                
    }
    #Activités .section-title  {
        display: flex;
        width: 873px;
        height: 30px;
        flex-wrap: nowrap; 
        padding: 50px 0px 10px 0px; 
        margin: 0px;     
    }
   
    #Activités .card-title {
        display: flex;
        padding-top: 15px;
        width: 100%;
    }
    #Activités img{
        height: 700%;
        max-height: 200px;
        width: 100%;
        min-width: 194px;
    }
    #Activités .problem {
        width: 197px;
    }
    .activite-content{
        flex-direction: column;
        display: flex;
        background-color: white;
        border-radius: 20px; 
        max-height: 270px;
        height: 135%;
        width: 100%; 
         
    }
    #Activités .card-container{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        max-width: 197px;
        padding: 0px 10px;
        
    }
    #Activités  .activite-content .problem  {
        height: 200px;
    }
     
    .footer-contain{
    margin-top: 100px;
    
} 
   
   
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    nav.naviguation a:hover{
        border-top: none;
        border-bottom: solid 2px var(--main-color);               
        color: var(--main-color);
    }
     .naviguation a {
        margin: 40px 0px 0px 0px;
        border-bottom: 2px solid #dad3d3;
        align-items: center;
        padding-left: 50px;
        padding-right: 35px;
        width: 50%;
        max-width: 384px;

    }
    .naviguation{
        display: flex;
        max-width: 768px;
        min-width: 375px;
        width: 100%;
    }
    .Acceuil-title h2{
        padding-top: 20px;
        padding-left: 10px;
    }  
    .Acceuil-title p {
        padding-left:10px ;
        padding-bottom: 15px;
    } 
   .search-container{
        display: flex;
         width: 100%;
         max-width: 335px;
         padding-left: 10px;
         height: 50px  ;
    }
    .search{
        max-width: 375px;
        width: 100%;
    }
    .input[type="text"]  .search{
        display: flex  ;
        width:100%;
        box-sizing: border-box;
         max-width: none;
        
    }
    input[type="text"]{
        display: flex;
        padding: 1px 40px;
        width: 150px;
        
    }
    .fa-map-marker-alt{
        width: 108px;
    }
    
    ::placeholder{
        width: 100%;
        
    } 
    .bouton{
        display: flex;
        max-width: 49px;
        border-radius: 15px;
        align-items: center;
        padding-left: 10px;
    }     
    .bouton h3{
        display: none;
    }
    .bouton i {
        display:inline ;
        padding: 10px;
    }
    .hebergements-and-populaires section {
        border-radius: 0px;
        width: 100%;
        background-color: #f2f2f2;
        padding: 0px;
        
    }
     .header-content{
        width: 100%;
        flex-direction: column;

    }
    .boutton span {
        font-size: 14px;
        box-sizing: border-box;
        font-weight: bold;
        min-width: 96px;
        
    }
    .boutton {
        padding: 15px;
        margin: 5px 8px;
        width: 45%;
        box-sizing: border-box;
        flex-grow: inherit;          
    }
    .Filters h3{
        margin-right: 300px;
        padding-left: 10px;
        margin-top: 10px;
        width: 100%;
    }
    .Filters{
        display: flex;
        justify-content: space-between;
        align-items: center;   
    }
    .Filters a {
        display: flex;
        width: 45%%;
        justify-content: space-between;
        align-items: center;
                                           
    }
    .info{
        padding: 25px 0px;
    }
    
    .hebergements-and-populaires {
        flex-direction: column-reverse;
                
    }
    .hebergements-and-populaires .populaires{
        padding: 0%;
        margin: -8px;
    }
    .populaires{
        min-width: 375px;                    
    }
    .populaires-title{
        padding: 10px ;
    }
    
    .populaires-cards{
        flex-direction: column;    
        width: 110%;
        margin:0px; 
        padding: 0px 5px;
        max-width: 375px;
        min-width: 365px;                            
    }
    .populaires-cards .card{
        min-width: 325px;
        margin: 10px;
    }
    .hebergements article{
        max-width: 325px;
        min-width: 325px;
        margin: 10px;
        
    }
    
    
    .hebergements{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 1px;
    }
    .hebergements a {
        max-width: 315px;
    
    }    
    .hebergement-card {
        display: flex;
        width: 100%;
        max-width: 335px;
        height: 207px;
        padding: 10px 0px; 
    }
    .hebergements-title{
        padding-right: 20px
    }
    .card-link{
        width: 100%;
    }
    .hebergements-and-populaires .hebergements{
        background-color:white;
        padding-top: 15px;
        
    }
    .main-container{
        padding: 0px;
    }
    #Activités .section-title{
        padding: 10px;
        width: 100%;
    }
    #Activités{
        display: flex;
        flex-direction: column;
        width: 84%;
        align-items: center;
        flex-wrap: nowrap;
        padding-bottom: 25px;
    }
    #Activités .card{
        min-width: 315px;
        margin-bottom: 50px;
        max-height: 200px;
        
    }
    .activite-content{
        height: 200px;
        width: 315px;
        
    }
    #Activités .problem{
        width: 100%;
    }
    #Activités .card-title{
        width: 100%;
    }
    #Activités .card-container{
        height: 200px;
        margin-bottom: 30px;
    }  
   
    #Activités img { 
        height: 141px;
        width: 100%;
        min-width: 315px;
    }
    .footer {
        width: 375px;
    }
    
    
    .footer-contain {
        flex-direction: column;
        margin-top: 50px;
        margin-left:10px ;
        width: 100%;
        
    }
    .footer-contain li{
        width: 70%;
    }
    .footer-contain .propos{
        width: 75%;
    }
    
}

    


    